/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 

:root {
	--vp-c-brand-1: #ff8904;
	--vp-c-brand-2: #FFB74D;
	--vp-c-brand-light: #FFA726;
	--vp-c-brand-lighter: #FFB74D;
	--vp-c-brand-lightest: #FFCC80;
	--vp-c-brand-dark: #F57C00;
	--vp-c-brand-darker: #E65100;
	--vp-c-brand-dimm: rgba(255, 87, 34, 0.08);
	--vp-c-bg: #FAF8F6;
	--vp-code-tab-bg: #FAF8F6;
	--vp-code-block-bg: #FAF8F6;
	--vp-home-hero-name-background: var(--vp-c-brand-1) !important;

}

.VPNavBar:not(.home.top) .divider-line, .VPNavBar:not(.has-sidebar):not(.home.top) .divider {
	background-color: transparent !important;
}
.VPNavBar:not(.has-sidebar) > .wrapper {
	padding: 0 16rem !important;
}
.VPNavBar:not(.has-sidebar) > .wrapper > .container {
	margin: unset !important;
	max-width: 100% !important;
}
.text-serinus {
	color: var(--vp-c-brand-1) !important;
}
.bg {
	background-color: var(--vp-c-bg) !important;
}
.border-bg {
	border-color: var(--vp-c-bg) !important;
}
.bg-serinus {
	background-color: var(--vp-c-brand-1) !important;
}
.border-color-serinus {
	border-color: var(--vp-c-brand-1) !important;
}
.VPNavBar:not(.has-sidebar):not(.home) {
	background-color: var(--vp-nav-bg-color) !important;
}
.VPNavBar:not(.has-sidebar).top {
	background-color: transparent !important;
}
.vp-code-group {
	background-color: var(--vp-c-bg) !important;
	@apply rounded-lg border-dashed border-2 border-gray-300;
}
.vp-code-group > .tabs {
    background-color: transparent !important;
    box-shadow: unset !important;
    border-radius: 0 !important;
    padding: 8px !important;
    display: flex !important;
    gap: 8px !important;
    border-bottom: 1px solid #e5e7eb !important;
}
.vp-code-group input:checked + label {
    border: 1px solid var(--vp-c-brand-1) !important;
    border-radius: 4px !important;
}
.vp-code-group input + label {
    font-family: monospace !important;
    border: 1px solid transparent !important;
}
.vp-code-group label:hover {
    border: 1px solid rgba(255, 137, 4, 0.5) !important;
    border-radius: 4px !important;
}
.vp-code-group input:checked + label::after {
    background-color: unset !important;
}
.vp-code-group {
    margin-top: 0 !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
.vp-code-group div[class*="language-"] {
    padding: 8px !important;
}
.vp-code-group div[class*="language-"] > .token.string {
    color: #d69d85 !important;
}
.vp-code:not(.vp-code-group .vp-code) {
	background-color: var(--vp-c-bg) !important;
	@apply rounded-lg border-dashed border-2 border-gray-300;
}
.vp-code-group .tabs {
	@apply shadow-none;
}
div[class*="language-"]:not(.vp-doc .vp-code) .vp-code {
	padding: 16px !important;
}
div[class*="language-"]:not(.vp-doc .vp-code) {
	position: relative !important;
}

[class*="language-"]:not(.vp-doc .vp-code) > span.lang {
	position: absolute;
	top: 2px;
	right: 8px;
	z-index: 2;
	font-size: 12px;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: var(--vp-code-lang-color);
	transition: color 0.4s, opacity 0.4s;
}

[class*="language-"]:not(.vp-doc .vp-code) > button.copy {
	direction: ltr;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 3;
	border: 1px solid var(--vp-code-copy-code-border-color);
	border-radius: 4px;
	width: 40px;
	height: 40px;
	background-color: var(--vp-code-copy-code-bg);
	opacity: 0;
	cursor: pointer;
	background-image: var(--vp-icon-copy);
	background-position: 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

[class*="language-"]:not(.vp-doc .vp-code):hover > button.copy, [class*="language-"]:not(.vp-doc .vp-code) > button.copy:focus {
	opacity: 1;
}
[class*="language-"]:not(.vp-doc .vp-code) > button.copy.copied::before, [class*="language-"]:not(.vp-doc .vp-code) > button.copy:hover.copied::before {
	position: relative;
	top: -1px;
	transform: translateX(calc(-100% - 1px));
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--vp-code-copy-code-hover-border-color);
	border-right: 0;
	border-radius: 4px 0 0 4px;
	padding: 0 10px;
	width: -moz-fit-content;
	width: fit-content;
	height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	color: var(--vp-code-copy-code-active-text);
	background-color: var(--vp-code-copy-code-hover-bg);
	white-space: nowrap;
	content: var(--vp-code-copy-copied-text-content);
}
[class*="language-"]:not(.vp-doc .vp-code) > button.copy.copied, [class*="language-"]:not(.vp-doc .vp-code) > button.copy:hover.copied {
	border-radius: 0 4px 4px 0;
	background-color: var(--vp-code-copy-code-hover-bg);
	background-image: var(--vp-icon-copied);
}
[class*="language-"]:not(.vp-doc .vp-code) code {
	padding: 0 !important;
}


/**
   * Component: Button
   * -------------------------------------------------------------------------- */

:root {
	--vp-button-brand-border: var(--vp-c-brand-light);
	--vp-button-brand-text: var(--vp-c-white);
	--vp-button-brand-bg: var(--vp-c-brand-1);
	--vp-button-brand-hover-border: var(--vp-c-brand-light);
	--vp-button-brand-hover-text: var(--vp-c-white);
	--vp-button-brand-hover-bg: var(--vp-c-brand-light);
	--vp-button-brand-active-border: var(--vp-c-brand-light);
	--vp-button-brand-active-text: var(--vp-c-white);
	--vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
   * Component: Home
   * -------------------------------------------------------------------------- */

:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(120deg,
			#bd34fe 30%,
			#41d1ff);

	--vp-home-hero-image-background-image: linear-gradient(-45deg,
			#bd34fe 50%,
			#47caff 50%);
	--vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(72px);
	}
}

/**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

:root {
	--vp-custom-block-tip-border: var(--vp-c-brand);
	--vp-custom-block-tip-text: var(--vp-c-brand-darker);
	--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
	--vp-custom-block-tip-border: var(--vp-c-brand);
	--vp-custom-block-tip-text: var(--vp-c-brand-lightest);
	--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
   * Component: Algolia
   * -------------------------------------------------------------------------- */

.DocSearch {
	--docsearch-primary-color: var(--vp-c-brand) !important;
}

.vp-doc table {
	display: table;
	width: 100%;
}

.logo {
	height: 64px !important;
}
.image-container {
	position: relative;
	width: 320px;
	height: 320px;
}
.image-container > img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 320px;
	max-height: 320px;
	transform: translate(-50%,-50%);
}
.image-bg {
	background-image: linear-gradient(-45deg, rgba(255, 152, 0, 0.6) 50%, rgba(245, 124, 0, 0.6) 50%) !important;
	background-image: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 0.6) 50%, rgba(245, 124, 0, 0.6) 50%) !important;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 0.6) 50%, rgba(245, 124, 0, 0.6) 50%) !important;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 320px;
	height: 320px;
	filter: var(--vp-home-hero-image-filter);
	transform: translate(-50%,-50%);
}
.vp-btn-custom, .vp-doc a.vp-btn-custom{
	background-color: var(--vp-c-brand-2);
	color: rgb(23,23,23);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
	border-radius: 20px;
}
.vp-btn-custom:hover, .vp-doc a.vp-btn-custom:hover {
	color: rgb(23,23,23);
}

html {
	scroll-behavior: smooth;
}